@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  @screen md {
    font-size: 20px;
  }
  @screen lg {
    font-size: 23px;
  }
	@screen xl {
    font-size: 26px;
  }
	@screen 2xl {
    font-size: 30px;
  }
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: theme(colors.light);
	
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid theme(colors.light);
	border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: theme(colors.dark.1);
}

body {
	background: theme(colors.dark.gradient);
}

